body {
    background-color: white !important;
}


.herocontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #18B092;
    color: white !important;
}


h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 90px !important;
    color: white !important;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 40px !important;
    color: #1c1c1c !important;
}

h3 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 30px !important;
    color: #1c1c1c !important;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 20px !important;
    color: #1c1c1c !important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 100%;
    border: 1px solid #d9d9d9 !important; 
    opacity: 1;
}